@font-face {
  font-family: "iconfont"; /* Project id 5049200 */
  src: url('iconfont.woff2?t=1761311019332') format('woff2'),
       url('iconfont.woff?t=1761311019332') format('woff'),
       url('iconfont.ttf?t=1761311019332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e6a6";
}

.icon-yonghu:before {
  content: "\e658";
}

