* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Segoe UI', 'Lucida Grande', Helvetica, Arial,
        'Microsoft YaHei', FreeSans, Arimo, 'Droid Sans', 'wenquanyi micro hei',
        'Hiragino Sans GB', 'Hiragino Sans GB W3', Arial, sans-serif;
}
.main-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 400px;
}
